<div
  class="bg-blue-600 text-white p-4 flex flex-col md:flex-row items-center justify-between"
>
  <div class="text-xl font-bold">
    Hole {{ currentHoleId }}: {{ currentHole!.name }} (Par
    {{ currentHole!.par }})
  </div>
  <div class="text-sm mt-2 md:mt-0 md:ml-4" *ngIf="nextHole">
    Next: {{ nextHole.name }} in {{ countdown }}
  </div>
  <!-- Buttons to change the hole -->
  <div class="mt-4 flex space-x-2">
    <button
    class="bg-white text-blue-600 font-semibold py-2 px-4 rounded"
    (click)="changeHole(currentHoleId - 1)"
    [disabled]="currentHoleId <= 1"
    >
      Edit
    </button>
    <button
    class="bg-white text-blue-600 font-semibold py-2 px-4 rounded"
    (click)="changeHole(currentHoleId - 1)"
    [disabled]="currentHoleId <= 1"
    >
      Directions
    </button>
    <button
      class="bg-white text-blue-600 font-semibold py-2 px-4 rounded"
      (click)="changeHole(currentHoleId - 1)"
      [disabled]="currentHoleId <= 1"
    >
      Previous
    </button>
    <button
      class="bg-white text-blue-600 font-semibold py-2 px-4 rounded"
      (click)="changeHole(currentHoleId + 1)"
      [disabled]="currentHoleId == 9"
    >
      Next
    </button>
  </div>
</div>